nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}

.logo_icon {
  height: 30px;
}

.nav_links {
  width: 40%;
}

.nav_links ul {
  display: flex;
  justify-content: space-around;
}

.nav_links ul li {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  color: #bababa;
}

.nav_links ul li:hover {
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
}

.login_btn {
  padding: 7px;
  background: linear-gradient(to right, #ff8e3d, #ff0000);
  color: #f1f1f1;
  border: none;
  width: 130px;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
}

.signup-btn {
  padding: 7px;
  border: 1px solid #ff8e3d;
  background-color: #f1f1f1;
  color: #ff8e3d;
  width: 130px;
  margin-left: 5px;
  border-radius: 7px;
  font-weight: 500;
  cursor: pointer;
}

.nav-harm {
  display: none;
}

.icon {
  font-size: xx-large;
  font-weight: 800;
  background: linear-gradient(to right, #ff8e3d, #ff0000);
  color: #fafafa;
  transition: 0.85s;
  cursor: pointer;
  border-radius: 7px;
}

@media all and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .nav_links {
    display: none;
  }

  .nav_buttons {
    display: none;
  }
  .nav-harm {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  #toggle-on {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid grey;
    border-radius: 7px;
    margin: 0;
    background-color: rgb(18, 29, 51);
    position: fixed;
    top: 70px;
    right: 0;
    bottom: 0;
    height: 300px;
    z-index: 100;
  }

  .logo_container ul,
  .navbar_buttons {
    display: none;
  }
}
